<div class="row">
  <div class="well col-lg-8">
    <%= simple_form_for @business, html: { class: 'form-horizontal'}, defaults: { input_html: { class: 'form-control' }} do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :category, collection: Business::CATEGORIES, prompt: 'Please select' %>
        <%= f.input :contact -%>
        <%= f.input :address %>
        <%= f.input :town, placeholder: Business::DEFAULT_TOWN -%>
        <%= f.input :postcode %>
        <%= f.input :telephone %>
        <%= f.input :website %>
        <%= f.input :email %>
        <%= f.input :twitter %>

        <div class='form-group'>
          <label class="col-lg-2 control-label" for="business_facebook">Facebook</label>
          <div class="col-lg-10">
            <div class="checkbox">
              <input type="checkbox" id="business_facebook" name="business[facebook]" class="boolean optional" value="1" <%= "checked=checked" if @business.facebook %> />
            </div>
          </div>
        </div>

        <%= f.input :services -%>
        <%= f.input :profile, as: :text, input_html: { class: 'my_tinymce' } -%>

        <%- if @business.photo.present? -%>
          <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <%= image_tag @business.photo_url(:thumb_600_) -%>
            </div>
          </div>

          <div class='form-group'>
            <label class="col-lg-2 control-label" for="business_remove_photo"></label>
            <div class="col-lg-10">
              <div class="checkbox">
                <input type="checkbox" id="business_remove_photo" name="business[remove_photo]" class="boolean optional" value="1" />
                <label for="business_remove_photo">Remove photo</label>
              </div>
            </div>
          </div>
        <%- end -%>

        <%= f.input :photo -%>

        <%- Business::DAYS.each do |day| -%>
          <%= f.input "#{day}_opening", collection: Business::TIMES, prompt: 'Please select', required: false, include_blank: true -%>
          <%= f.input "#{day}_closing", collection: Business::TIMES, prompt: 'Please select', required: false, include_blank: true -%>
        <%- end -%>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.button :submit, class: 'btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
