<div class="content">
  <!-- content HEADER -->
  <!-- ========================================================= -->
  <div class="content-header">
    <!-- leftside content header -->
    <div class="leftside-content-header">
      <ul class="breadcrumbs">
        <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">Businesses</a></li>
      </ul>
    </div>
  </div>
  <div class="row animated fadeInRight">
    <h1>New business</h1>
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">
              <%= simple_form_for @business, html: { class: ''}, defaults: { input_html: { class: 'form-control' }} do |f| %>
                <%#= f.input :name, label: false, input_html: { class: 'form-control' } %>
                <div class="form-group">
                  <label for="name" class=" control-label">Name<span class="required">*</span></label></br>
                  <%= f.input :name, label: false, input_html: { class: 'field-user form-control' } %>
                </div>
                <div class="form-group">
                  <label for="category" class=" control-label">Category<span class="required">*</span></label></br>
                  <%= f.input :category, collection: Business::CATEGORIES, prompt: 'Please select', label: false, input_html: { class: 'field-category form-control' }%>
                </div>
                <div class="form-group">
                  <label for="contact" class=" control-label">Contact</label>
                  <%= f.input :contact, label: false %>
                </div>
                <div class="form-group">
                  <label for="address" class=" control-label">Address</label>
                  <%= f.input :address, label: false %>
                </div>
                <div class="form-group">
                  <label for="town" class=" control-label">Town</label>
                  <%= f.input :town, placeholder: Business::DEFAULT_TOWN, label: false %>
                </div>
                <div class="form-group">
                  <label for="postcode" class=" control-label">Postcode</label>
                  <%= f.input :postcode, label: false %>
                </div>
                <div class="form-group">
                  <label for="telephone" class=" control-label">Telephone</label>
                  <%= f.input :telephone, label: false %>
                </div>
                <div class="form-group">
                  <label for="website" class=" control-label">Website</label>
                  <%= f.input :website, label: false %>
                </div>
                <div class="form-group">
                  <label for="email" class=" control-label">Email</label>
                  <%= f.input :email, label: false %>
                </div>
                <div class="form-group">
                  <label for="twitter" class=" control-label">Twitter</label>
                  <%= f.input :twitter, label: false %>
                </div>
                <div class="form-group">
                  <%= f.hidden_field :lat, label: false %>
                </div>
                <div class="form-group">
                  <%= f.hidden_field :lon, label: false %>
                </div>
                <div class="form-group">
                  <label class="control-label" for="business_facebook">Facebook
                    <input type="checkbox" id="business_facebook" name="business[facebook]" class="boolean optional" value="1" <%= "checked=checked" if @business.facebook %> >
                  </label>
                </div>
                <div class="form-group">
                  <label for="services" class="">Service</label>
                  <%= f.input :services, label: false %>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>