<%= simple_form_for @business, html: { class: 'form-horizontal'} do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category, collection: Business::CATEGORIES, prompt: 'Please select' %>
    <%= f.input :contact -%>
    <%= f.input :address %>
    <%= f.input :town, placeholder: Business::DEFAULT_TOWN -%>
    <%= f.input :postcode %>
    <%= f.input :telephone %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :twitter %>
    <%= f.input :facebook, as: :boolean %>
    <%= f.input :services, as: :text, hint: 'Seperate services with comma' %>
    <%= f.input :profile, as: :text %>
    <%- if @business.photo.present? -%>
      <div class="control-group text optional business_profile">
        <label></label>
        <div class="controls">
          <%= image_tag @business.photo_url -%>
        </div>
      </div>
      <%= f.input :remove_photo, as: :boolean, label: false, inline_label: 'Remove this photo' -%>
    <%- end -%>
    <%= f.input :photo -%>

    <%- Business::DAYS.each do |day| -%>
      <%= f.input "#{day}_opening", collection: Business::TIMES, prompt: 'Please select', required: false -%>
      <%= f.input "#{day}_closing", collection: Business::TIMES, prompt: 'Please select', required: false -%>
    <%- end -%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
