<h1>Listing businesses</h1>

<p>
  <%= link_to('New Business', new_business_path) if can?(:new, Business) %>
</p>

<br />

<table class="table table-condensed table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Contact</th>
      <th>Telephone</th>
      <%- if can?(:edit, Business) -%>
        <th>Actions</th>
      <%- end -%>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.category %></td>
        <td><%= business.contact %></td>
        <td><%= business.telephone %></td>
        <%- if can?(:edit, Business) -%>
          <td>
            <%= link_to 'Show', business %>
            <%= link_to 'Edit', edit_business_path(business) %>
            <%= link_to('Destroy', business, method: :delete, data: { confirm: 'Are you sure?' }) if can?(:destroy, Business)%>
          </td>
        <%- end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to('New Business', new_business_path) if can?(:new, Business) %>
