<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Category:</b>
  <%= @business.category %>
</p>

<p>
  <b>Contact:</b>
  <%= @business.contact %>
</p>

<p>
  <b>Address:</b>
  <%= @business.address %>
</p>

<p>
  <b>Town:</b>
  <%= @business.town %>
</p>

<p>
  <b>Postcode:</b>
  <%= @business.postcode %>
</p>

<p>
  <b>Telephone:</b>
  <%= @business.telephone %>
</p>

<p>
  <b>Website:</b>
  <%= @business.website %>
</p>

<p>
  <b>Email:</b>
  <%= @business.email %>
</p>

<p>
  <b>Twitter:</b>
  <%= @business.twitter %>
</p>

<p>
  <b>Facebook:</b>
  <%= @business.facebook %>
</p>

<p>
  <b>Services:</b>
  <%= @business.services %>
</p>

<p>
  <b>Profile:</b>
  <%=sanitize @business.profile %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@business.photo_url) if @business.photo.present? %>
</p>

<p>
  <b>Lat/Lon:</b>
  <%= @business.lat -%> / <%= @business.lon -%>
</p>

<p>
  <%- Business::DAYS.each do |day| -%>
    <%= "#{day.capitalize} opening: #{@business.send("#{day}_opening")}" -%>
    <br />
    <%= "#{day.capitalize} closing: #{@business.send("#{day}_closing")}" -%>
    <br />
  <%- end -%>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
