<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @slider.image_url(:admin_thumb) %>
</p>

<p>
  <b>Caption:</b>
  <%= @slider.caption %>
</p>

<p>
  <b>Order:</b>
  <%= @slider.order %>
</p>

<p>
  <b>URL:</b>
  <%= @slider.url %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
