<div class="row animated fadeInRight">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-content">
        <div class="row">
          <div class="col-md-12">
            <%= simple_form_for @download, html: { class: ''}, defaults: { input_html: { class: 'form-control' }} do |f| %>
              <%#= f.input :name, label: false, input_html: { class: 'form-control' } %>
              <div class="form-group">
                <label for="title" class=" control-label">Title<span class="require">*</span></label></br>
                <%= f.input :title, label: false, input_html: { class: 'text-black form-control' } %>
              </div>
              <br>
              <br>
              <div class="form-group">
                <label for="category" class=" control-label">Category</label></br>
                <%= f.select :category, [['Newletters','Newsletters'],['Events','Events'],['Reports','Reports'],['General','General']], {}, include_blank: true, :class => "form-control" %>
              </div>
              <%- if @download.file.present? -%>

                <div class="form-group">
                  <%= link_to File.basename(@download.file.path), @download.file.url %>
                </div>
              
                <div class="form-group">
                  <label for="download_remove_file" class=" control-label"></label>
                  <input type="checkbox" id="download_remove_file" name="download[remove_file]" class="boolean optional" value="1" />
                  <label for="download_remove_file">Remove current file</label>
                </div>
              <%end%>
              <label for="download_remove_file" class=" control-label">File<span class="require">*</span></label>
              <%= f.input :file, label:false, input_html: { class: 'text-black form-control' } %>
              <br>
              <br>
              <div class="form-group">

                <%= f.button :submit, class: 'btn-primary' %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>