<div class="row">
  <div class="well col-lg-8">
    <%= simple_form_for @event, html: { class: 'form-horizontal'}, defaults: { input_html: { class: 'form-control' }} do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :description, as: :text, input_html: { class: 'my_tinymce' } -%>
        <%= f.input :starts, as: :datetime, input_html: { class: 'custom_datetime form-control' }, use_short_month: true, order: [:day, :month, :year] -%>
        <%= f.input :ends, as: :datetime, input_html: { class: 'custom_datetime form-control' }, use_short_month: true, order: [:day, :month, :year] -%>
        <%= f.input :location_name %>
        <%= f.input :location_address %>

        <%- if @event.image.present? -%>
          <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <%= image_tag @event.image_url -%>
            </div>
          </div>

          <div class='form-group'>
            <label class="col-lg-2 control-label" for="event_remove_image"></label>
            <div class="col-lg-10">
              <div class="checkbox">
                <input type="checkbox" id="event_remove_image" name="event[remove_image]" class="boolean optional" value="1" />
                <label for="event_remove_image">Remove image</label>
              </div>
            </div>
          </div>
        <%- end -%>

        <%= f.input :image -%>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.button :submit, class: 'btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
