<%= content_for :bread_crumbs do -%>
  <div class="dow">
    <div class="col-lg-8 content">
        <div class="bread_crumbs">
          <%= link_to 'Home', root_path -%>
          >
          <%= link_to 'Events', events_path -%>
          >
          <%= @event.name -%>
        </div>
        <h1 class="red title_post"><%= @event.name -%></h1>
        <div class="post_entry_meta">
          <div class="date">
            <span></span>
            <%= link_to "#{@event.starts.strftime("%B %d, %H%P")} to #{@event.ends.strftime("%B %d, %H%P")}", '#' -%>
          </div>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
<%- end -%>

<div class="col-lg-8 content">
  <div class="blog">
        <%- if @event.image.present? -%>
          <div class="post_thumbnail">
            <div class="thumbnail">
              <%= image_tag @event.image_url(:big_thumb) -%>
            </div>
          </div>
        <%- end -%>
        <div class="row">
          <div class="event_desc col-lg-6">
            <p><i><b>Location: <span class="blue"><%= @event.location_name -%></span></b></i></p>
            <%=raw @event.description -%>
          </div >
          <div class="event_map col-lg-6">
            <div class="thumbnail">
              <iframe height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=USA&amp;aq=&amp;sll=<%= @event.lat -%>,<%= @event.lon -%>&amp;sspn=61.323728,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5+%D0%A8%D1%82%D0%B0%D1%82%D1%8B+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8&amp;t=m&amp;ll=<%= @event.lat -%>,<%= @event.lon -%>&amp;spn=2.103225,3.988037&amp;z=7&amp;output=embed"></iframe>
            </div>
          </div>
        </div>
        <div class="social_shared">
          <span class='st_twitter_vcount' displayText='Tweet'></span>
          <span class='st_facebook_vcount' displayText='Facebook'></span>
          <span class='st_googleplus_vcount' displayText='Google +'></span>
          <span class='st_email_vcount' displayText='Email'></span>
        </div>
  </div>
</div>

<div class="col-lg-4 sidebar">
  <div class="widget">
    <h2 class="red">Upcoming events</h2>
    <div class="widget_recent_posts">
      <div class="recent_post">
        <%- Event.upcoming(5).reject { |e| e.id == @event.id }.each do |e| -%>
          <%= link_to e.name, event_path(e), class: 'title' -%>
          <div class="recent_posts_entry_meta">
            <a href="#">> <%= e.starts.strftime("%B %d %Y") -%></a>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>

  <div class="widget">
    <%= render partial: 'shared/sidebar_socials' -%>
  </div>
</div>
