<h1>Listing business_category_templates</h1>

<p> <%= link_to 'New Business category template', new_business_category_template_path %> </p>

<table class="table table-condensed table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Body</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @business_category_templates.each do |bct| %>
      <tr>
        <td><%= bct.category %></td>
        <td><%= bct.body %></td>
        <td>
          <%- bct.business_category_template_images.each do |i| -%>
            <%- if i.image.present? -%>
              <%= image_tag i.image_url(:admin_thumb) -%>
              <br />
              <br />
            <%- end -%>
          <%- end -%>
        </td>
        <td>
          <%= link_to 'Show', bct %>
          <%= link_to 'Edit', edit_business_category_template_path(bct) %>
          <%= link_to 'Destroy', bct, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @business_category_templates -%>
