<section class="single-listing light-gray-bg content-padding">

  <div class="row">
      <div class="column">
        <ul class="breadcrumbs">
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li class="show-for-medium"><a href="/blog"><span>News</span></a></li>
          <li><a href="<%= blog_post_path(@post) %>"><span><%= @post.title %></span></a></li>
        </ul>
      </div>
    </div>

  <div class="row">
    <div class="small-12 columns">
        <h1><%= @post.title -%></h1>
        <div>
          <div class="date">
            <span></span><a href="#"><%= @post.published_at.strftime("%B %d %Y") -%></a>
          </div>
          <div class="category">
            <span></span>
            <%= link_to @post.category, '#' -%>
          </div>
        </div>
    </div>
  </div>

  <div class="row column">
    <div class="social_shared">
      <span class='st_twitter_vcount' displayText='Tweet'></span>
      <span class='st_facebook_vcount' displayText='Facebook'></span>
      <span class='st_googleplus_vcount' displayText='Google +'></span>
      <span class='st_email_vcount' displayText='Email'></span>
    </div>
    <div class="post_thumbnail">
      <%- if @post.image.present? -%>
        <div class="thumbnail">
          <%= image_tag @post.image_url("#{@post.image_mode}_big_thumb".to_sym) -%>
        </div>
      <%- end -%>
    </div>
    <%=raw @post.body -%>
  </div>

</section>


