<div class="col-lg-8 content">
  <div class="bread_crumbs">
    <a href="<%= front_path -%>">Home</a> > <%= params[:cat] -%>
  </div>
  <h1 class="red"><%= params[:cat] -%> in Merthyr Town Centre </h1>

  <p><%=raw @template.try(:body) -%></p>

  <div class="shopping">
    <h1 class="border_bottom">A-Z of <%= params[:cat] -%> in Merthyr Tydfil Town Centre</h1>
    <ul class="shopping_list">
      <%- @paginated_businesses.each do |pb| -%>
        <li>
          <h4><%= link_to pb.name, public_business_path(pb) -%></h4>
          <div class="info">
            <p><%= pb.full_address -%></p>
            <div class="tel"><%= pb.telephone -%></div>
            <div class="url"><a href="www.abclothia.co.uk" target="_blank"><%= pb.website -%></a></div>
          </div>
          <div class="white_block">
            <div class="col-lg-8">
              <a href="#" ><%= pb.profile -%></a>
            </div>
            <div class="b-share_links">
              <a href="#" class="like_link"><span class="icon-heart-empty"></span> Like</a>
              <a href="#" class="share_link"><span></span>Share</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </li>
      <%- end -%>
    </ul>

    <ul class="pagination">
      <%- ('a'..'z').each do |s| -%>
        <%- if @businesses.detect { |b| b.name.downcase.starts_with? s } -%>
          <%- if @starts_with == s -%>
            <li class="active"> <a href="#"><%= s.capitalize -%> <span class="sr-only">(current)</span></a> </li>
          <%- else -%>
            <%- custom_params = params.except(:controller, :action) -%>
            <li><%= link_to s.capitalize, public_businesses_category_path(custom_params.merge(starts_with: s)) -%></li>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
</div>
