<section class="single-listing light-gray-bg content-padding">
  <div class="row">
    <div class="column">
      <ul class="breadcrumbs">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <%- if @page.parent.present? -%>
        <li class="show-for-medium"><a href="<%= public_page_show_path(@page.parent.slug) %>"><span><%= @page.parent.title %></span></a></li>
        <%- end -%>
        <li><a href="<%= public_page_show_path(@page.slug) %>"><span><%= @page.title %></span></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-8 column">
      <div class="single-content-wrap">
        <div class="single-content">
          <h1><%= @page.title %></h1>
          <%=raw @page.body -%>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 column">
      <div class="single-content-wrap">
        <div class="single-content">
          
          
         <div id="downloadlist">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
        <div class="overview">
          <div class="list-group download_links">
            <%- if downloads.any? -%>
              <%- downloads.each do |d| -%>
                <a href="<%= d.file.url -%>" class="list-group-item <%= !d.category.blank? ? d.category.downcase.tr(" ", '_') : nil -%>">
                <div class="col-md-10">
                  <span class="title"><%= d.title -%></span>
                </div>
              <%- end -%>
            <%- else -%>
              <%= link_to '#', class: 'list-group-item' do -%>
                <div class="col-md-10">
                  <span class="title"> No files. </span>
                </div>
              <%- end -%>
            <%- end -%>
          </div>
        </div>
    </div>
  </div> 
          
          
          
          
        </div>

      </div>
    </div>
  </div>

</section>
