<h1>Listing deals</h1>

<p> <%= link_to 'New Deal', new_deal_path %> </p>

<table class="table table-condensed table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Business</th>
      <th>Terms</th>
      <th>Actions</th>
    </tr>
  <thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.title %></td>
        <td><%= deal.description %></td>
        <td><%= image_tag deal.image_url(:admin_thumb) if deal.image.present? %></td>
        <td><%= deal.start_date.strftime("#{deal.start_date.day.ordinalize} %b, %Y") %></td>
        <td><%= deal.end_date.strftime("#{deal.end_date.day.ordinalize} %b, %Y") %></td>
        <td><%= deal.status %></td>
        <td><%= deal.business.name %></td>
        <td><%= deal.terms %></td>
        <td>
          <%= link_to 'Show', deal %>
          <%= link_to 'Edit', edit_deal_path(deal) %>
          <%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @deals -%>
