<!--<%#- if user_signed_in? -%>
  <li> <%#= link_to current_user.email, '#' -%> </li>
  <li> <%#= link_to 'Log out', destroy_user_session_path, method: :delete -%> </li>
<%#- else -%>
  <li> <%#= link_to 'Log in', new_user_session_path -%> </li>
  <li> <%#= link_to 'Sign up', new_user_registration_path -%> </li>
<%#- end -%> -->

<div class="container nav">
  <div class="navbar navbar-inverse navbar-default">
    <div class="navbar-inner">
        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="social_icon_top">
            <li><a href="#" class="btn-dark_blue "><span class="glyphicon icon-facebook"></span></a></li>
            <li><a href="#" class="btn-twitter"><span class="glyphicon icon-twitter"></span></a></li>
            <li><a href="#" class="btn-danger"><span class="glyphicon icon-youtube"></span></a></li>
            <li><a href="#" class="btn-red"><span class="glyphicon icon-pinterest"></span></a></li>
            <li><a href="#" class="btn-orang"><span class="glyphicon icon-google-plus"></span></a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if controller_name == 'pages' and action_name == 'front' -%>"><%= link_to 'Home', front_path -%></li>
            <li class="<%= 'active' if controller_name == 'pages' and %w(shoppings shopping).include?(action_name) -%>"><%= link_to 'Shopping', public_shoppings_path -%><li>
            <li class="<%= 'active' if controller_name == 'pages' and %w(businesses business).include?(action_name) -%>"><%= link_to 'Eating & Drinking', public_businesses_path -%><li>
            <li><%= link_to 'Visiting ', '#' -%><li>
            <li class="<%= 'active' if controller_name == 'pages' and action_name == 'vouchers' -%>"><%= link_to 'Vouchers', vouchers_path -%></li>
            <li class="<%= 'active' if controller_name == 'pages' and %w(events event).include?(action_name) -%>"><%= link_to 'Events', public_events_path -%></li>
            <li class="<%= 'active' if controller_name == 'pages' and %w(blog blog_post).include?(action_name) -%>"><%= link_to 'Blog', blog_path -%><li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
