<%= content_for :sidebar do -%>
  <div class="col-lg-4 sidebar">
    <div class="widget">
      <img src="img/widjet_img.png" alt="" />
      <p>Editable image</p>
    </div>

    <div class="widget widget_search">
      <%= render partial: 'shared/sidebar_search' -%>
    </div>

    <div class="widget">
      <%= render partial: 'shared/sidebar_tags' -%>
    </div>

    <%= render partial: 'shared/latest_vouchers' -%>
  </div>
<%- end -%>

<%= render template: 'layouts/application' -%>
