<%= content_for :sidebar do -%>
  <div class="col-lg-4 sidebar">
    <div class="widget">
      <p><%= @template && image_tag(@template.image_url(:thumb)) -%></p>
    </div>

    <div class="widget widget_search">
      <%= render partial: 'shared/sidebar_search' -%>
    </div>

    <div class="widget">
      <%= render partial: 'shared/sidebar_tags', locals: { tags: @random_services } -%>
    </div>

    <%= render partial: 'shared/latest_vouchers' -%>
  </div>
<%- end -%>

<%= render template: 'layouts/application' -%>
