<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Love Merthyr</title>
    <%= stylesheet_link_tag "front", media: "all" %>
    <script src="https://use.typekit.net/ffm4kap.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= yield :head %>
  </head>
  <body>

    <%= render 'layouts/front/header' %>
    <%= raw flash_messages %> 
    <%= yield %>

    <%= render 'layouts/front/footer' %>

    <%= javascript_include_tag "front" %>
    <%= yield :script %>
  </body>
</html>
